# Configuração das portas
POSTGRES_INTERNAL_PORT=5432
POSTGRES_EXTERNAL_PORT=5432

# Configurações do Banco de Dados PostgreSQL
POSTGRES_DB=barber_master  
POSTGRES_USER=barber_master_user    
POSTGRES_PASSWORD=barber_master_password  

CONTAINER_NAME_DATABASE=barber_master

