services:
  postgres_barber_shop_manager:
    image: postgres:latest
    container_name: ${CONTAINER_NAME_DATABASE}
    ports:
      - "${POSTGRES_EXTERNAL_PORT}:${POSTGRES_INTERNAL_PORT}"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - barber_shop_manager_db_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 5s
    networks:
      - barber_shop_manager_network

volumes:
  barber_shop_manager_db_data:
    driver: local

networks:
  barber_shop_manager_network:
    external: true
